name: CI-Pull-Request

on:
  pull_request:
    branches: [ "main" ]
    
env:
  BRANCH: ${{ github.head_ref }}  

jobs:
  check-current-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check branch
        run: |
          if [[ "${{ env.BRANCH }}" != "develop" ]]; then
            echo "Please verify if the current branch is 'develop'."
            exit 1
          fi

  checkout-code:
    runs-on: ubuntu-latest
    needs:
      - check-current-branch
    outputs:
      deps-cache-key: ${{ steps.cache-key.outputs.cache_key }}
    
    steps:
      - name: Checkout code 
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          cache-dependency-path: 'pom.xml' 
      
      - name: Testing
        run: mvn test jacoco:report
